
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Register</h2>
<form method="post">
    <div class="mb-2">
        <label>Username</label>
        <input name="username" class="form-control" />
    </div>
    <div class="mb-2">
        <label>Password</label>
        <input type="password" name="password" class="form-control" />
    </div>
    <button class="btn btn-success">Register</button>
</form>
