@model List<WorkoutDiaryMVC.Models.PersonalBest>

@{
    ViewData["Title"] = "Personal Bests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="fw-bold mb-4">Personal Best Records</h2>

<a href="/PersonalBest/Create" class="btn btn-primary mb-3">+ Add New Personal Best</a>

<div class="d-flex">
    <table class="table table-hover table-bordered w-75">
        <thead class="table-light">
            <tr>
                <th>Exercise</th>
                <th>Max Weight (kg)</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var best in Model)
            {
                <tr>
                    <td>@best.Exercise</td>
                    <td>@best.MaxWeight</td>
                    <td>@best.Date.ToString("dd.MM.yyyy")</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex flex-column justify-content-start align-items-start ms-3 mt-1">
        <div style="height: 48px;"></div>
        @foreach (var best in Model)
        {
            <div class="mb-3">
                <form asp-action="Delete" asp-route-id="@best.Id" method="post" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this record?');">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        }
    </div>
  

</div>
<a class="btn btn-primary mt-3" href="/PersonalBest/ProgressChart">Show progress chart</a>
